<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exam.examactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Exam01Activity" />
        <activity android:name=".activity.HelloActivity" />
        <activity android:name=".activity.result.MenuActivity" />
        <activity android:name=".activity.layout.MyConstraintLayoutActivity" />
        <activity android:name=".activity.layout.MyRelativeLayout" />
        <activity android:name=".activity.layout.TableLayoutActivity" />
        <activity android:name=".activity.layout.ScrollViewActivity" />
        <activity android:name=".activity.basicwidget.MyBasicWidgetActivity" />
        <activity android:name=".activity.LayoutInflayTion" />
        <activity android:name=".activity.MyIntentActivity" />
        <activity android:name=".activity.MyParcelble" />
        <activity android:name=".activity.MyLifeCycleActivity" />
        <activity android:name=".activity.result.MenuActivity2"></activity>
    </application>

</manifest>